body{
    background-color: rgb(49, 21, 21);
        color: var(--texto-claro);

    background-image:
        linear-gradient(
            to bottom,
            rgba(24, 3, 4, 0.12),
            rgba(24, 3, 4, 0.20) 45%,
            rgba(15, 2, 3, 0.58) 100%
        ),
        url("midia/Background.png");

    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#titleIndex{
    width: 800px;
    aspect-ratio: 3.5 / 1;

    margin: -15px auto -10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(midia/Title.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    color: rgb(230, 180, 50);
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

    text-shadow:
        2px 2px 3px black,
        0 0 8px rgb(120, 60, 0, 0.9);
    
    letter-spacing: 3px;
}

.logoGeral{
    position: relative;
    width: 900px;
    max-width: 90%;
    margin: 35px auto 45px;
}

#logo{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#Moldura{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 130%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
}

.menu{
    color: rgb(27, 2, 2);
    position: relative;
    background: linear-gradient( 180deg, rgb(243, 225, 121), rgb(187, 137, 12));
    border-style: solid;
    border-color: rgb(255, 240, 171) rgb(255, 240, 171) rgb(97, 91, 70) rgb(204, 192, 140);
    border-radius: 10px;
    border-width: 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 90px;
    padding: 25px;
    text-decoration: none;
    font-family: "Laila", serif;
    text-shadow: 2px 2px 2px rgb(99, 73, 9);
    font-size: 30px;
    transition: 0.3s;
    margin: 0;
    box-sizing: border-box;
    overflow: visible;
}

.menu .orn-left{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 220px;
    height: 210px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    pointer-events: none;
    z-index: 2;
    opacity: 0;

    transition: opacity 0.2s ease;
}

.menu .orn-left{
    left: -75px;
    background-image: url("midia/Molde2E.png");
}

.menu:hover .orn-left{
    opacity: 1;
}

.menu span{
    position: relative;
    z-index: 3;
}

.menu::before{
    content: "";
    position: absolute;

    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 100px;

    background: url("midia/Molde1.png") center / contain no-repeat;

    pointer-events: none;
    z-index: 2;

    opacity: 1;
    transition: opacity 0.2s ease
}

.menu:hover::before{
    opacity: 0;
}

.menu:hover{
    background: linear-gradient( 135deg, rgb(75, 4, 4), black);
    color: rgb(255, 239, 149);
    text-shadow: 2px 2px 3px black,
    0 0 8px rgba(255, 221, 120, 0.7);
}


#menuInicial ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
    margin: 0;
}

li{
    list-style: none;
}

.Origem{

    background: linear-gradient( 179deg, rgb(31, 1, 1), rgb(15, 3, 2));
    padding: 15px;
    border: 2px ridge gold;
    border-radius: 10px;
    margin-top: 10px;


    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(230, 180, 50);
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-shadow: 5px 5px 5px  black;

}

#historia{
    background: radial-gradient(circle, rgb(109, 7, 7), rgb(58, 5, 5));

    color: bisque;
    font-family: "Litera", serif;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgb(99, 73, 9);

    padding: 15px 30px;

    border: 10px ridge darkgoldenrod;
    border-radius: 50px;
}
#historia b{
    color: rgb(249, 242, 142);
}
#historia i{
    color: rgb(142, 209, 242);
}
#historia .Trupe{
    color:gold
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#back{
    width: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient( 179deg, rgb(31, 1, 1), rgb(15, 3, 2));

    border: 2px groove gold;
    border-radius: 5px;
    border-width: 3px 5px;

    padding: 10px;

    box-sizing: border-box;

    color: rgb(230, 180, 50);
    font-family: "Modern Antiqua", serif;
    font-weight: bolder;
    font-size: large;
}

.HistImg{
    width: 650px;

    margin: 20px;
    border: 5px groove gold;

    box-shadow: 5px 5px 10px black;
}

.navegador{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.navegador a, .navegador b{
    background: radial-gradient(circle, goldenrod, darkgoldenrod);

    padding: 8px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: -15px;
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.navegador a{
    color:rgb(75, 4, 4);
    text-decoration: none;
    font-family: "Modern Antiqua", serif;
    font-weight: bolder;
    font-size: medium;
    transition: 0.3s;
}
.navegador b{
    color:black;
    text-decoration: none;
    font-family: "Modern Antiqua", serif;
    font-weight: bolder;
    font-size: medium;
    transition: 0.3s;
}

.navegador a:hover{
    background: linear-gradient( 135deg, rgb(75, 4, 4), black);
    color: rgb(255, 239, 149);
    text-shadow: 2px 2px 3px black,
    0 0 8px rgba(255, 221, 120, 0.7);
}

#membrosNav a{
    color: gold;
    background: linear-gradient( 135deg, rgb(75, 4, 4), black);
    border-style: solid;
    border-color: rgb(255, 240, 171) rgb(255, 240, 171) rgb(97, 91, 70) rgb(204, 192, 140);
    border-radius: 10px;
    border-width: 3px 5px;
    width: 230px;
    height: 50px;
    padding: 30px;
    text-decoration: none;
    font-family: "Litera", serif;
    text-shadow: 2px 2px 2px rgb(99, 73, 9);
    font-size: 30px;
    transition: 0.3s;
    margin: 5px;
    box-sizing: border-box;
    display:flex;
    justify-content: end;
    align-items: center;
}

.membro{
    background:
        radial-gradient(
            circle at 15% 35%,
            var(--cor-media) 0%,
            var(--cor-escura) 45%
        );

    color: bisque;
    font-family: "Litera", serif;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);

    padding: 15px 30px;

    border: 10px ridge darkgoldenrod;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: inset 15px 15px 45px black;
}
#visionaria{
    --cor-escura: #111315;
    --cor-media: #454b50;
    --cor-acento: #c8c2ba;
    --cor-secundaria: #d2ad65;
}
#diletante{
    --cor-escura: #150303;
    --cor-media: #560b0d;
    --cor-acento: #981d22;
    --cor-secundaria: #c69a42;
}
#corvo{
    --cor-escura: #0c0801;
    --cor-media: #300030;
    --cor-acento: #65156b;
    --cor-secundaria: #97835a;
}
#arauto{
    --cor-escura: #646257;
    --cor-media: #b4b0a0;
    --cor-acento: #ddd3af;
    --cor-secundaria: #e9cc91;
}
#rosa{
    --cor-escura: #0a0202;
    --cor-media: #942825;
    --cor-acento: #c7191e;
    --cor-secundaria: #97835a;
}
#vibora{
    --cor-escura: #07100b;
    --cor-media: #173b26;
    --cor-acento: #39764b;
    --cor-secundaria: #a98242;
}
#poeta{
    --cor-escura: #080707;
    --cor-media: #270417;
    --cor-acento: #d8ac6b;
    --cor-secundaria: #ce9d4d;
}
#marionete{
    --cor-escura: #070a16;
    --cor-media: #294861;
    --cor-acento: #2c699b;
    --cor-secundaria: #d7dbe8;
}
#relogio{
    --cor-escura: #0e0901;
    --cor-media: #352206;
    --cor-acento: #7c4b14;
    --cor-secundaria: #9b6e2c;
}
#mimica{
    --cor-escura: #03010f;
    --cor-media: #12084b;
    --cor-acento: #2a188f;
    --cor-secundaria: #69767e;
}

#membrosLayout{
    display: grid;

    grid-template-columns: 280px 1fr;

    gap: 35px;
    align-items: start;

    max-width: 1650px;

    margin: 35px auto;
}
.membro-principal{
    display: grid;

    grid-template-columns: 320px 1fr;

    gap: 35px;

    align-items: start;
}
.membro-imagem img{
    display: block;

    width: 100%;
    height: auto;

    border: 3px solid var(--cor-secundaria);
    border-radius: 15px;

    box-shadow:
        0 0 10px var(--cor-media);
}
.membro-info{
    margin-top: 5%;
}
.membro p{
    font-size: 20px;
}
.membro h2{
    font-size: 230%;
    display: flex;
    justify-content: center;
    margin-bottom: -2px;
    color: var(--cor-secundaria);
    font-family: "Modern Antiqua", serif;
}
.membro b{
    color: var(--cor-acento);
}